@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #1b2431;
}

.card {
  transition: all 2s ease;
  transform-style: preserve-3d;
}

.front,
.back {
  backface-visibility: hidden;
}

.card-container:hover .card {
  transform: rotateY(360deg);
}

.back {
  transform: rotateY(180deg);
}